# Dependencies
node_modules/
frontend/node_modules/
backend/node_modules/

# Secrets & Env
*.env
.env.local
.env.production
secrets/
*.pem
*.key

# Build outputs
frontend/build/
dist/
*.log

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfstate.backup
*.tfstate
*.tfstate.backup
/infrastructure/terraform/terraform.tfvars
/infrastructure/terraform/.terraform

# Ansible
ansible/ansible-vault
ansible/*.retry

# Docker
*.dockerignore

# AWS
.aws/

